* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 20px 40px;
  background-color: lightgray;
}

.form-group {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-default {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
}